/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f23; /* Adjust to match the exact color */
  padding: 10px 20px; /* Adjust padding as necessary */
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 32px; /* Adjust the width of the logo */
  height: 32px; /* Adjust the height of the logo */
  margin-right: 10px; /* Space between logo and title */
}

.navbar-title {
  color: #f0f0f0; /* Adjust text color to match the image */
  font-size: 18px; /* Adjust font size */
  font-weight: 500; /* Adjust font weight */
}

.navbar-link {
  color: #f0f0f0; /* Adjust text color */
  margin-left: 20px; /* Space between links */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Pointer cursor for links */
  text-decoration: none; /* Remove underline from link */
}

.navbar-link-inactive {
  color: #777; /* Adjust inactive link color */
}

/* Optional: Add hover effects if needed */
.navbar-link:hover {
  color: #fff; /* Change color on hover */
}

.help-button {
  background: none;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.help-icon {
  font-size: 18px;
  margin-right: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 80%;
  color: #1d1c1c;
}

.close-button {
  font-size: 24px;
  float: right;
  cursor: pointer;
}

.helpSectionTXTblock {
  color: #1d1c1c;
}

.helpModalBanner {
  width: 100%;
  border-radius: 5px;
}